<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <title>SAP Learning Self Service(s) </title>
   <!-- Metro 4 -->
   <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
</head>

<body>

   <div style="margin-top: 80px">

      <div class="card" style="width: 800px;">
         <div class="card-header">

            <div class="remark " style="padding-top: 10px; margin: 2px">

               <h2> <span style="color: #FF2640;" th:text="${message}"></span> </h2>
               <blockquote>
                  <h6 style="color: #000058; background: #F1F2FF; padding: 10px">
                     <span style="color: #585800">Close this tab and refresh the Self Service Portal main page to
                        reflect changes...</span>
                  </h6>
               </blockquote>
               <!-- Customize button at Top ROW - Ends-->
            </div>


         </div>
      </div>