<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <title>SAP Learning Self Service(s) </title>
   <!-- Metro 4 -->
   <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
</head>

<body>
 
   <div style="margin-top: 80px">

      <div class="row-12" style="padding: 10px;">
         <div class="frame">

            <div class="remark alert " style="padding-top: 10px; margin: 2px">
               <h2>Unexpected Runtime Exception!</h2>
               <h6 style="color: gray"> Problem Details </h6>
               <small style="color: #8000fc" th:text="${formError}"> </small>
            </div>

         </div>
      </div>