<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <title>SAP Learning Self Service(s) </title>
   <!-- Metro 4 -->
   <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
</head>

<body>

   <div style="margin-top: 80px">

      <div class="card" style="width: 800px;">
         <div class="card-header">

            <div class="remark " style="padding-top: 10px; margin: 2px">
               <h2 style="color: #FF2640;">Session Expired!</h2>
               <blockquote>
                  <h6 style="color: #000058; background: #F1F2FF; padding: 10px">
                     <span style="color: #585800">User Session expired due to Inactivity. Please Sign In to
                        Proceed!</span>
                  </h6>
               </blockquote>
               <!-- Customize button at Top ROW - Ends-->
            </div>

            <!-- Customize button at Top ROW - Starts -->
            <div class="row flex-justify-end">
               <!-- Customize Button - Col Start -->
               <div class="colspan-4 offset-3" style="margin-left: 50px; margin-top: 30px">


                  <a href="#" class="button primary rounded outline" th:href="@{/lso/}" role="button"> <span
                        style="margin-left: 0px"></span>
                     <span style="margin-left: 3px">Sign In</span>
                  </a>

                  <a href="#" class="button alert rounded outline" th:href="@{/logout/}" role="button"
                     style="margin-left: 10px;"> <span style="margin-left: 0px"></span>
                     <span style="margin-left: 3px">Logout</span>
                  </a>


               </div>
               <!-- Customize Button - Col End -->

            </div>

         </div>
      </div>